<div class="jumbotron">
  <h1 class="display-3">Testat Aufgabe</h1>
  <p class="lead">Diese Webseite ist Teil der Testat Aufgabe fuer das HSLU WebTec Modul.</p>
  <p><a class="btn btn-lg btn-success" href="https://github.com/timofurrer/hslu-webtec-testat" target="_blank" role="button">Zum Source</a></p>
</div>

<div class="row contents">
  <div class="col-lg-6">
    <h4>Aufgabe</h4>
    <p>Die Aufgabenstellung fuer das HSLU WebTec Testat:
    <blockquote class="blockquote">
      <p>Es ist eine WebSite zu erstellen, die den untenstehenden Ansprüchen genügen muss. Der Inhalt dieser WebSite ist egal.
      Diese WebSite ist schlussendlich auch online verfügbar zu machen damit ich sie kontrollieren kann.</p>
      <footer class="blockquote-footer"><cite title="Source Title">Aus dem <a href="https://elearning.hslu.ch/ilias/goto.php?target=file_3163817_download&client_id=hslu">original Auftrag</a></cite></footer>
    </blockquote></p>

    <h4>Home</h4>
    <p>Auf der Startseite sind allgemeine Informationen ueber diese Testat Webseite zu finden.</p>
  </div>

  <div class="col-lg-6">
    <h4>Canvas</h4>
    <p>Die Canvas-Seite beinhaltet eine kleine Demonstration, wie man ein Canvas-Element vom Server laden und auf der Webseite per Canvas Rendern kann.</p>

    <h4>Formular</h4>
    <p>Auf der Formular-Seite befindet sich ein Kontaktformular mit Clientseitiger Eingabepruefung. Die Metainformationen fuer das Formular werden vom Server geladen.</p>

    <h4>Texte und Bilder</h4>
    <p>Die Texte und Bilder Seite enthaelt vom Server geladene Texte und Bilder.</p>
  </div>
</div>
